/* Put your style information here! */

img {
  max-width: 80%;
  align-self: center;
  border: 1px solid #25215A;
}

html {
  background-color: rgb(54, 55, 149);
  padding-left: 10vw;
}

body {
  max-width: 80vw;
  padding: 2vw;
  align-items: center;
  align-content: center;
  background-color: #F8F4F4;
}

#title-section {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
  padding-top: 2vh;
}

.two-column {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.two-column * {
  max-width: 50%;
}

#results-div {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  background-color: #ecedd5;
  justify-content: center;
  align-items: center;
}
